
@{
    ViewData["Title"] = "Header";
}

<div class="introimg2">
        <div class="introIMAGE2">

        </div>
        <div class="header">
            <h1>Projects</h1>
            <p>Enjoy</p>

        </div>
</div>

