
@{
    ViewData["Title"] = "Index";
}
<div class="introimg2">
        <div class="introIMAGE2">

        </div>
        <div class="header">
            <h1>Contact</h1>
			<p> Excited to talk to you!</p>

        </div>
</div>


