html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom:auto;
}
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
.cardGrid{
    background-color: darkslategrey;
    
}
#user{
    background-color:darkslategrey;
}
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footers {

    line-height: 60px;
}
.WorkHeading {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 4rem 0 2rem 0;
}

.WorkContainer {
    max-width: 1140px;
    margin: auto;
    display: grid;
    /*Grid Adjustment*/
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.WorkCard {
    background-color:darkcyan;
    padding: 1.2rem 1rem;
}

.WorkCard img {
    width: 100%;
}

.WorkTitle {
    color: rgb(14, 13, 13);
    padding: 1rem;
    text-align: center;
}
.title1 {
    font-size: 10px;
}
/* .icons{
    display: flex;
    justify-content: space-between;
    
} */
.WorkDetails p {
    padding-bottom: 1rem;
    font-size: 1rem;
    text-align: justify;
    color: black;
}

.WorkButtons {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.WorkButtons .button1 {
    padding: 0.5rem 1rem;
}

.WorkPicture {
    justify-content: space-between;
    display: flex;
    transition: 0.8s;
}

.WorkPicture .IMAGE {
    padding-left: 5%;
    z-index: 6;
        
}

.WorkButtons .icons {
    z-index: 5;
}
/* .WorkPicture:hover{
    transform: scale(2);
    transition: 0.8s;
} */
.WorkPictureZoom {
    transform: scale(1.5);
    transition: 0.8s;
    justify-content: space-between;
    display: flex;
}
.imageHome { 
    width: 100%;
    height: 100vh;
    position: relative;
}

.introImage {
    width: 100%;
    height: 100%;
    background-size: cover;
   
    object-fit: cover;
}

.content p {
    color: rgb(0, 0, 0);
    text-align: center;
    display: block;
}
/*Image opacity*/
.imageHome::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #616161;
    opacity: 0.5;
}
/*Image size*/
.hero1 {
    height: 100%;
    width: 100%;
    margin-bottom:auto;
}

    /*Text in front of image adjustment*/
.hero1 .content {
    position: absolute;
    transform: translate(-50%, -200%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.hero1 .content h1 {
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
    color: black;
}

.hero1 .content p {
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;
    color:black;
}

/*Button adjusment */
.content .btn {
    margin: 1rem 0.3rem;
}

.content .button1 {
    margin: 1rem 0.3rem;
}

.introIMAGE2 {
    width: 100%;
    background: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    height: 60vh; /*Makes the heading bigger*/
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.introIMAGE2::before {
    background-size: cover;
    background-position: center top;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.introIMAGE2::after {
    content: "";
    width: 100%;
    height: 60vh;
    position: absolute;
    background-size: cover;
    background-color: #919191;
    opacity: 0.3;
    top: 0;
    left: 0;
}

.header h1 {
    font-size: 4rem;
    color: black;
}

.header p {
    font-size: 2rem;
    text-align: center;
    color: black;
}

.header {
    width: 100%;
    height: 100%;
    display: flex; /*Makes paragraph and header text at the same*/
    flex-direction: column; /*Makes flex column*/
    align-items: center; /* Center of header*/
    justify-content: center; /*center of the header*/
    transform: translate(0%, -200%);
}

.AboutPage {
    width: 100%;
    margin: 3rem 0rem; /*top/bottom left/right*/
    display: flex; /*one row*/
    align-content: center;
    justify-content: center;
    flex-wrap: wrap; /*One Column*/
    height: 100%;
}
    /*Padding represents the amount of inner space an element has, 
while the margin is whitespace available surrounding an element.*/
.AboutPage .LeftSide {
    text-align: center;
    margin: auto; /*space between div*/
    padding: 1rem; /*affects text*/
    max-width: 350px;
}

.AboutPage h1 {
    color: black;
}

.AboutPage .LeftSide p {
    margin: 1.2rem 0;
    color:black;
}

.AboutPage .RightSide {
    max-width: 700px;
}

/*Picture Stacking*/
.RightSide .imagecontainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    align-items: center;
    text-align: center;
}

.RightSide .image {
    max-width: 50%;
    border: 1px solid #333;
}

.RightSide .imagetop {
    grid-column: 1 / span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
}

.RightSide .imagebottom {
    grid-column: 4 / -3; /*How big the grid are*/
    grid-row: 1;
    z-index: 5;
}
.footers {
    width: 100%;
    padding: 6rem 0;
    background-color:darkslategrey;
    height:130%;
}

.footerContent {
    max-width: 1140px;
    margin: auto;
    display: grid;
    /*grid adjustment*/
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
}

.Picture {
    max-width: 100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.leftSide {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.footers .home, .email, .phone {
    display: flex;
    margin-bottom: 0.8rem;
}
.leftSide h4 {
    margin-left: 0rem;
    margin-right: auto;
}
.rightSide p, h1, h4 {
    line-height: 30px;
    color: black;
    margin-left: auto;
    margin-right: auto;
}


.footers .rightSide {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.rightSide .social {
    margin-top: 1rem;
    padding: 0.5rem 0rem;
    text-align: center;
}



.footers h4 {
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
}

.ProjectWork {
    width: 100%;
    height: 100%;
    padding: 6rem 1rem;
    background-color: rgb(117, 150, 179);
}

.EducationHeading {
    color: black;
    text-align: center;
    padding: 4rem 0 2rem 0;
}

/*Alligning cards*/
.cardcontainer1 {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.cards {
    border: 1px solid;
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
}

.cards:hover {
    background-color: rgba(97, 97, 97, 0.85);
}

.GPA {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem 0;
}

.cards a {
    font-size: 2rem;
    padding: 1rem;
    display: block;
    text-align: center;
    text-decoration: underline;
}

.cards a:hover {
    color: rgb(255, 230, 0);
}

.cards a:visited {
    color: green;
}

.AboutSection {
    font-size: 1rem;
}

.cards p {
    display: block;
    padding: 8px 0;
}

/* .cards .button1{
    display:block;
    display: 80%;
    margin: 2rem auto;
} */
.SchoolLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

label {
    color: black;
    margin-bottom: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    margin: auto;
    max-width: 660px;
}

form input, form textarea {
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1.2rem;
    background-color: gray;
    border-color: gray;
    color: white;
}

@media screen and (max-width: 740px) {
    .WorkContainer {
        max-width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 40px;
        text-align: center;
    }

    .WorkPictureZoom {
        transform: scale(1.2);
        transition: 0.8s;
        justify-content: space-between;
        display: flex;
    }
    .hero1 .content h1 {
        font-size: 3rem;
        
    }

    .hero1 .content p {
        font-size: 1.4rem;
        
    }
    .header h1 {
        font-size: 2rem;
        color: black;
        background-size: cover;
    }

    .header p {
        font-size: 1rem;
        text-align: center;
        color: rgb(8, 8, 8);
    }
    .footers h1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .footerContent {
        /*grid adjustment*/
        grid-template-columns: 1fr;
        text-align: center;
        display: inline-block;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footerContent .leftSide {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footers .Picture {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .rightSide .social {
        margin-top: 1rem;
        padding: 0.5rem 0rem;
        text-align: center;
    }
    .cardcontainer1 {
        max-width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 40px;
        text-align: center;
    }
}